<h1>商品投稿ページ</h1>

<%= form_for @product do |f| %>

  <div class="field">
    <%= f.label :商品名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>


  <div class="field">
    <%= f.label :値段  %>
    <%= f.number_field :price, :size => 10 %>
  </div>


  <div class="field">
    <%= f.label :商品説明  %>
    <%= f.text_area :description, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>

<%= link_to "商品一覧に戻る",  tweets_path %>