<div class="inquiry-wrapper">

  <div class="corner-dot top-left"></div>
  <div class="corner-dot top-right"></div>
  <div class="corner-dot bottom-left"></div>
  <div class="corner-dot bottom-right"></div>
  
  <div class="inquiry-logo">
   <%= image_tag "norikobrand_logo_white.png", alt: "norikobrandロゴ", width: 45, height: 45 %>
  </div>

  <h1>お問い合わせ</h1>

  <%= form_with model: @inquiry, url: inquiries_path, local: true do |form| %>
    <div>
      <%= form.label :name, "お名前" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :email, "メールアドレス" %>
      <%= form.email_field :email %>
    </div>

    <div>
      <%= form.label :subject, "件名" %><br>
      <%= form.text_field :subject, required: true %>
    </div>

    <div>
      <%= form.label :message, "お問い合わせ内容" %>
      <%= form.text_area :message %>
    </div>

    <div>
      <%= form.submit "送信" %>
    </div>
  <% end %>
</div>

<%= link_to "トップページへ戻る", root_path, class: "btn btn-primary" %>